body {
  margin: 0;
  padding: 0;
  /* background-color: green */
  /* background-size: 400% 400%;
  color: aliceblue;
  animation: gradient 15s ease infinite; */
}

h1 {
  margin: 0;
}

button {
  font-size: 22px;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  overflow: hidden;
  outline: none;
}


/* Greetings */
.greetings {
  height: 100vh;
  overflow-x: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-welcome {
  display: none;
}
#img-savethedate {
  height: 100%;
}

#img-invitation {
  display: none;
  width: 100%;
}

.nav {
  position: absolute;
  bottom: 0;
  left: 48%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 45%;
}

.nav > button {
  border-bottom: 1px solid black;
}


.modal {
  display: none;
  justify-content: center;
  position: fixed;
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #9b9194;
}

.modal-content {
  display: none;
  max-width: 660px;
  margin: 20px;
  font-size: 22px;
  line-height: 1.3;
}

.modal-content > .header {
  display: flex;
  justify-content: space-between;
}
.modal-content > .header > .close {
  font-size: 50px;
  padding: 0 12px;
}








@media only screen and (max-width: 385px) {
  .nav {
    left: 45%;
  }
}

@media only screen and (min-width: 660px) {
  .greetings {
    display: block;
    height: 100%;
  } 
  .btn-welcome {
    display: block;
    height: 40px;
    width: 14%;
    position: absolute;
    left: 50%;
    bottom: 10%;
    font-size: 24px;
    color: #4b3214;
    background-color: #e3e5e4;
    border: 1px solid #4b3214;
  }
  #img-savethedate {
    width: 100%;
    height: auto;
  }
}



/*.content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,36,1) 28%, rgba(0,212,255,1) 50%, rgba(255,130,0,1) 72%, rgba(2,0,36,1) 100%);
}

#wedForm {
  display: flex;
  flex-direction: column;
  align-items: space-evenly;
  justify-content: center;
  width: 80%;

}

#wedForm > input {
  margin-bottom: 20px;
  width: 50%;
  height: 30px;
  border-radius: 4px;
  border: 1px solid aquamarine;
  margin-top: 10px;
}

#wedForm > button {
  height: 40px;
  width: 100px;
  outline: none;
  border-radius: 4px;
  border-style: unset;
  font-size: 18px;
} */

/* 
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
} */