body {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
}

button {
  font-size: 22px;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  overflow: hidden;
  outline: none;
}

.invitation-handler {
  display: none;
  background-image: url('./assets/invitacion2500.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right center;
  height: 100vh;
}


/* Greetings */
.greetings {
  height: 100vh;
  overflow-x: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.btn-welcome {
  font-size: 30px;
  display: block;
  height: 50px;
  width: 100px;
  position: absolute;
  left: 47%;
  bottom: 20%;
  border-bottom: 1px solid black;
}
#img-savethedate {
  height: 100%;
}

.title {
  position: absolute;
  top: 10%;
}

.title h1 {
  font-size: 50px;
}

.title h2 {
  margin-top: 70px;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 690px;
  height: 86vh;
  margin-left: auto;
}

.nav > button {
  border-bottom: 1px solid black;
}


.modal {
  display: flex;
  justify-content: center;
  z-index: 1;
  opacity: 0;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #9b9194;
  pointer-events: none;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.opaque {
  opacity: 1;
  pointer-events: auto;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}


.modal-content {
  display: none;
  max-width: 660px;
  margin: 20px;
  font-size: 22px;
  line-height: 1.3;
}

.modal-content > .header {
  display: flex;
  justify-content: space-between;
}
.modal-content > .header > .close {
  font-size: 50px;
  padding: 0 12px;
}






@media only screen and (min-width: 485px) {
  .btn-welcome {
    left: 50%;
  }
}
@media only screen and (min-width: 660px) {
  .greetings {
    height: 100%;
  } 
  .btn-welcome {
    left: 54%;
  }
  #img-savethedate {
    max-width: 1000px;
    height: auto;
  }

  .nav > button {
    font-size: 26px;
  }

  .title > h1 {
    font-size: 6em;
  }

  .title > h2 {
    font-size: 3em;
  }
}

@media only screen and (min-width: 1080px) {
  .btn-welcome {
    left: 52%;
  }
  .nav {
    max-width: 60%;
  }
}

@media only screen and (min-width: 1400px) {
  .nav {
    height: 83vh;
  }
}

@media only screen and (min-width: 1800px) {
  .btn-welcome {
    left: 51%;
  }
}

@media only screen and (max-height: 700px)
                   and (orientation: landscape) {
  .nav {
    max-width: 400px;
    height: 80vh;
  }
}

/*.content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,36,1) 28%, rgba(0,212,255,1) 50%, rgba(255,130,0,1) 72%, rgba(2,0,36,1) 100%);
}

#wedForm {
  display: flex;
  flex-direction: column;
  align-items: space-evenly;
  justify-content: center;
  width: 80%;

}

#wedForm > input {
  margin-bottom: 20px;
  width: 50%;
  height: 30px;
  border-radius: 4px;
  border: 1px solid aquamarine;
  margin-top: 10px;
}

#wedForm > button {
  height: 40px;
  width: 100px;
  outline: none;
  border-radius: 4px;
  border-style: unset;
  font-size: 18px;
} */

